USE [master]
GO
/****** Object:  Database [Gutuphane]    Script Date: 11.04.2022 14:04:54 ******/
CREATE DATABASE [Gutuphane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gutuphane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gutuphane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gutuphane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gutuphane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gutuphane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gutuphane]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 11.04.2022 14:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[E-Posta] [nvarchar](50) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[Dogum Tarihi] [date] NOT NULL,
	[NO1] [int] NOT NULL,
	[NO2] [int] NOT NULL,
	[Kayit Tarihi] [date] NOT NULL,
	[Yetki] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
